@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo Mono", monospace;
}

body {
  background-color: #0b1f35;
  color: #ffffff;
}
