@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  padding: 20px 0 20px 20px;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.inner-header {
  display: flex;
}

.nav-item {
  margin-right: 30px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  padding-top: 10px;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 40px;
}

.home-section1 {
  height: 50vh;
  color: white;
}

.home-text1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 250px;
}

.home-text2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}

.home-section2 {
  height: 80vh;
  color: black;
  background-color: white;
}

.home-text3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}

.box {
  background-color: #1d2833;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  color: white;
}

.home-text4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

.dash-section1 {
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.box1 {
  width: 500px;
  background-color: #1d2833;
  width: 70%;
  border-radius: 10px;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.box2 {
  width: 500px;
  height: 300px;
  background-color: #1d2833;
  width: 25%;
  border-radius: 10px;
  padding-top: 50px;
  padding-left: 20px;
}

.dash-header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  margin-top: 50px;
}

.home-text5 {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

.dinput {
  width: 400px;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  display: block;
  color: black;
}

.but {
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #10171f;
  margin-top: 30px;
  width: 400px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
}

.home-text6 {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
}

.but2 {
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #10171f;
  margin-top: 30px;
  width: calc(100% - 20px);
  font-family: "Ubuntu", sans-serif;
  margin-top: 50px;
  border-radius: 10px;
}

.mort {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1d2833;
  margin-top: 50px;
  border-radius: 10px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.home-text7 {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.input-box {
  margin-bottom: 30px;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.label {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  display: block;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 60px;
  border: none;
  color: black;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
}

.mbut {
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  border: none;
  background-color: #10171f;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
}
.prop {
  display: flex;
}

.home-text8 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

.home-text9 {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}

.voting {
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.home-text10 {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
}

.home-text11 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}

.pbox {
  margin-top: 30px;
}

.pbox1 {
  width: 45%;
}

.vbut {
  height: 50px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 1px solid white;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  padding-top: 10px;
  cursor: pointer;
}

.vbut2 {
  height: 50px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #10171f;
  border: 1px solid white;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  padding-top: 10px;
  display: block;
}

.tarea {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: black;
}

.dash-section2 {
  min-height: 300px;
  background-color: #1d2833;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-top: 50px;
  padding-left: 20px;
  margin-bottom: 50px;
}

.listflex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.accept {
  height: 50px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #10171f;
  border: 1px solid white;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  display: block;
}

.butflex {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.mark {
  border-color: blue;
}
